@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100;300;400;700&display=swap");

html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #191622;
}

::-webkit-scrollbar-thumb {
  background: #988bc7;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7363a5;
}
