.AboutMeContainer {
  background: #191622;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.AboutMeSubHeader {
  margin-top: 50px;
  margin-bottom: 30px;
}
.AboutMeHeader {
  border: 3px solid #67e480;

  width: 320px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #67e480;
  font: 500 2rem "Heebo";
}

.AboutMeItemsContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #e7e7e7;
}

.AboutMeItems {
  width: 40vw;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Content {
  background: #483c67;
}
