.AboutMeContainer {
  background: #191622;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: "Heebo";
}

.AboutMeSubHeader {
  margin-top: 50px;
  margin-bottom: 30px;
  color: #ffffff;
}

.AboutMeSubHeader span {
  color: #67e480;
}
.AboutMeHeader {
  border: 3px solid #67e480;

  width: 320px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #67e480;
  font: 500 2rem "Heebo";
}

.AboutMeItemsContent {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #ffffff;
}

.AboutMeItems {
  width: 40vw;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-top: 2px solid #67e480;
}
