.AboutContentContainer {
  width: 340px;
  height: 90px;

  display: flex;
  justify-content: space-between;
  flex-direction: column;

  font-family: "Heebo";
}

.AboutContentContainer span {
  font-size: 0.8rem;
}

.AboutContentContainer strong {
  color: #67e480;
}
