.TechsContainer {
  background: #483c67;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}
.TechsSubHeader {
  margin-top: 50px;
  margin-bottom: 30px;
}

.TechsContainer .TechsSubHeader {
  margin-top: 50px;
  margin-bottom: 30px;
}
