.TechsContainer {
  background: #191622;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
}

.TechsSubHeader {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: Heebo;
  color: rgb(255, 255, 255);
}

.TechsContainer .TechsSubHeader {
  margin-top: 50px;
  margin-bottom: 30px;
}
.TechsContentContainer {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.TechsContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100%;
}

.TechsContent span {
  color: #67e480;
  font: 700 1.8rem "Heebo";
}

.TechsContent div {
  width: 60vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font: 300 6rem "Heebo";
}

.ContentContainer {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  color: #e7e7e7;

  height: 100%;
  border-bottom: 2px solid #67e480;
}
